<!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                        <section class="box">
                            <header>
                                <h3>Feugiat consequat</h3>
                            </header>
                            <p>Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat feugiat lorem dolore.</p>
                            <ul class="divided">
                                <li><a href="#">Sed et blandit consequat sed</a></li>
                                <li><a href="#">Hendrerit tortor vitae sapien dolore</a></li>
                                <li><a href="#">Sapien id suscipit magna sed felis</a></li>
                                <li><a href="#">Aptent taciti sociosqu ad litora</a></li>
                            </ul>
                            <footer>
                                <a href="#" class="button alt">Ipsum consequat</a>
                            </footer>
                        </section>

                </div>
                <div class="col-8 col-12-medium imp-medium">

                        <article *ngFor="let com of comic" class="box post">
                            <a href="#" class="image featured"><img src="{{ com.thumbnail.path + '.' + com.thumbnail.extension }}" alt="" /></a>
                            <header>
                                <h2>{{ com.title }}</h2>
                            </header>
                            <p>
                                {{ com.description }}
                            </p>
                            <!-- <section>
                                <header>
                                    <h3>Something else</h3>
                                </header>
                                <p>
                                    Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis.
                                    placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
                                    eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
                                    elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                                    sit amet nullam consequat feugiat dolore tempus.
                                </p>
                                <p>
                                    Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
                                    eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
                                    elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                                    sit amet nullam consequat feugiat dolore tempus.
                                </p>
                            </section> -->
                            <!-- <section>
                                <header>
                                    <h3>So in conclusion ...</h3>
                                </header>
                                <p>
                                    Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
                                    eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
                                    elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                                    sit amet nullam consequat feugiat dolore tempus. Elementum odio duis semper risus et lectus commodo fringilla.
                                    Maecenas sagittis convallis justo vel mattis.
                                </p>
                            </section> -->
                        </article>

                </div>
            </div>
        </div>
    </section>
