<div class="homepage is-preload">


   <div id="page-wrapper">

      <!-- Header -->
      <section id="header">

         <!-- Logo -->
         <h1><a href="index.html">Dopetrope</a></h1>

         <!-- Nav -->
         <nav id="nav">
            <ul>
               <li *ngFor="let menu of navMenu" [class.current]="href == menu.href">
                  <a [routerLink]="[menu.href]">{{ menu.title }}</a>
               </li>
            </ul>
         </nav>

         <!-- Banner -->
         <div *ngIf="href == '/'">
            <section id="banner">
               <header>
                  <h2>Howdy. This is Dopetrope.</h2>
                  <p>A responsive template by HTML5 UP</p>
               </header>
            </section>

            <!-- Intro -->
            <section id="intro" class="container">
               <div class="row">
                  <div class="col-4 col-12-medium">
                     <section class="first">
                        <i class="icon solid featured fa-cog"></i>
                        <header>
                           <h2>Ipsum consequat</h2>
                        </header>
                        <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                     </section>
                  </div>
                  <div class="col-4 col-12-medium">
                     <section class="middle">
                        <i class="icon solid featured alt fa-bolt"></i>
                        <header>
                           <h2>Magna etiam dolor</h2>
                        </header>
                        <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                     </section>
                  </div>
                  <div class="col-4 col-12-medium">
                     <section class="last">
                        <i class="icon solid featured alt2 fa-star"></i>
                        <header>
                           <h2>Tempus adipiscing</h2>
                        </header>
                        <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                     </section>
                  </div>
               </div>
               <footer>
                  <ul class="actions">
                     <li><a href="#" class="button large">Get Started</a></li>
                     <li><a href="#" class="button alt large">Learn More</a></li>
                  </ul>
               </footer>
            </section>
         </div>

      </section>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
      <app-footer></app-footer>


   </div>
   <!-- Scripts -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/jquery.dropotron.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
</div>
